body{
    background:#244824;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.game-board{
    position: absolute;
    left: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    width: 400px;
    height: 400px;
    background-color: #2b1c0e; 
    padding: 20px;
    border: 10px solid #362417;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.hole{
    background-color: #222;
    border-radius: 50%;
    border: 4px solid #3d2514;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.6);
}